.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fefefe;
    color: black;
    text-align: center;
    padding-top: 10px;
}
.footerContactInfo {
    text-align:left;
}