<div style="width:80%; margin: auto;">
  
  <h2>Tu progreso en:</h2>

  <p>Java</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:40%">40%</div>
  </div>


  <p>PHP</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:10%">10%</div>
  </div>

  
  <p>Angular</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:90%">90%</div>
  </div>


  <p>React</p>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:70%">70%</div>
  </div>

</div>