<div *ngIf="true">
  
  <div class="actorType" *ngIf="showTechs" >
    <h4>¿En qué tecnología quieres validar tus conocimientos?</h4>
    <button class="btn mybtnForm" (click)="setVisibility('java')">Java</button><br/>
    <button class="btn mybtnForm" (click)="setVisibility('php')">PHP</button><br/>
    <button class="btn mybtnForm" (click)="setVisibility('angular')">Angular</button><br/>
    <button class="btn mybtnForm" (click)="setVisibility('react')">React</button><br/>
  </div>

  <div *ngIf="isJava" >
      <ngb-tabset>
        <ngb-tab title="Frameworks">
          <ng-template ngbTabContent>
            <h4>General Information</h4>
            <ngb-tabset>
              <ngb-tab title="SPRING">
                <ng-template ngbTabContent>
                    <form name="generalInfoForm" id="generalInfoForm" class="registerForm" #generalInfoForm="ngForm" novalidate>
                        <h5>SPRING</h5>       
                    </form>        
                </ng-template>
              </ngb-tab>
              <ngb-tab title="JSF">
                <ng-template ngbTabContent>
                  <form name="contactDetailForm" id="contactDetailForm" class="registerForm" #contactDetailForm="ngForm" novalidate>
                    <h5>JSF</h5>
                    
                  </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Hibernate">
                  <ng-template ngbTabContent>
                      <form name="goalsForm" id="goalsForm" class="registerForm" #goalsForm="ngForm" novalidate>
                        <h5>Hibernate</h5>
                      </form>
                  </ng-template>
                </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="TESTS">
          <ng-template ngbTabContent>
            <ngb-tabset>
              <ngb-tab title="JUnit">
                <ng-template ngbTabContent>
                  <form name="innovationFocusForm" id="innovationFocusForm" class="registerForm" #innovationFocusForm="ngForm" novalidate>
                    <h3>JUnit forms</h3>
                  </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Other">
                <ng-template ngbTabContent>
                  <h4>Other tests forms</h4>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
  </div>

  <div *ngIf="isPhp">
      <ngb-tabset>
        <ngb-tab title="Frameworks">
          <ng-template ngbTabContent>
            <ngb-tabset>
              <ngb-tab title="LARAVEL">
                <ng-template ngbTabContent>
                    <form name="generalInfoForm" id="generalInfoForm" class="registerForm" #generalInfoForm="ngForm" novalidate>
                        <h5>LARAVEL</h5>       
                    </form>        
                </ng-template>
              </ngb-tab>
              <ngb-tab title="CODEIGNITER">
                <ng-template ngbTabContent>
                  <form name="contactDetailForm" id="contactDetailForm" class="registerForm" #contactDetailForm="ngForm" novalidate>
                    <h5>CODEIGNITER</h5>
                  </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="CAKEPHP">
                  <ng-template ngbTabContent>
                      <form name="goalsForm" id="goalsForm" class="registerForm" #goalsForm="ngForm" novalidate>
                        <h5>CAKEPHP</h5>
                      </form>
                  </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
        <ngb-tab title="TESTS">
          <ng-template ngbTabContent>
            <ngb-tabset>
              <ngb-tab title="PHPUnit">
                <ng-template ngbTabContent>
                  <form name="innovationFocusForm" id="innovationFocusForm" class="registerForm" #innovationFocusForm="ngForm" novalidate>
                    <h3>PHPUnit forms</h3>
                  </form>
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Other">
                <ng-template ngbTabContent>
                  <h4>Other tests forms</h4>
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>

  <div *ngIf="isAngular || isReact" style="background-color: #efefef">
      <ngb-tabset>
          <ngb-tab title="GENERAL">
            <ng-template ngbTabContent>
              
              <ngb-tabset>
                <ngb-tab title="DATA BINDING">
                  <ng-template ngbTabContent>
                      <form name="generalInfoForm" id="generalInfoForm" class="registerForm" #generalInfoForm="ngForm" novalidate>
                          <h5>DATA BINDING</h5>       
                      </form>        
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="TYPESCRIPT">
                  <ng-template ngbTabContent>
                    <form name="contactDetailForm" id="contactDetailForm" class="registerForm" #contactDetailForm="ngForm" novalidate>
                      <h5>TYPESCRIPT</h5>
                      
                    </form>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="WEBSERVICES">
                    <ng-template ngbTabContent>
                        <form name="goalsForm" id="goalsForm" class="registerForm" #goalsForm="ngForm" novalidate>
                          <h5>WEBSERVICES</h5>
                        </form>
                    </ng-template>
                  </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="OTHERS">
            <ng-template ngbTabContent>
              <ngb-tabset>
                <ngb-tab title="CLI">
                  <ng-template ngbTabContent>
                    <form name="innovationFocusForm" id="innovationFocusForm" class="registerForm" #innovationFocusForm="ngForm" novalidate>
                      <h3>CLI forms</h3>
                    </form>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="FILTERS">
                  <ng-template ngbTabContent>
                    <h4>FILTERS forms</h4>
                  </ng-template>
                </ngb-tab>
              </ngb-tabset>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
  </div>
</div>