article,aside,dialog,figcaption,figure,footer,header,hgroup,main,nav,section{
    display: block
}


ul {
    list-style-type: none;
    margin-left: 25px;
    padding: 0;
    overflow: hidden;
    background-color: #fefefe;
}

li {
    float: left;
}

li button {
    border: none;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    height: 65px;
    width: 75px;
}

li button:hover {
    background-color: #36A9E1;
}

.companyType{
    margin: 0 45px;
    background-color: #fefefe;
    padding-bottom: 30px;
    padding-top: 20px;
    border-style: solid !important;
    border-width: 1px;
    border-color: #456d8a;
}

.registerForm{
    text-align: center;
    padding-top: 8%;
    overflow-y: scroll;
}

.registerForm input{
    border: 1px #456d8a solid;
    width: 80%;
    height: 40px;
    margin: 2px !important;
}
.registerForm textarea{
    border: 1px #456d8a solid;
    width: 80%;
    margin: 2px !important;
}
.registerForm label{
    width: 80%;
    text-align: left;
    font-size: 15px;
}
.registerForm table{
    margin-left:auto; 
    margin-right:auto;
}
.checkboxes{
    height: 15px !important;
    margin: 0px !important;
    width: 15px !important;
    padding-top: 0 !important;
}
.cb-row{
    margin: 10px;
    clear:both;
    overflow:hidden;
}
.cb-row p {float:left;
    padding-left: 5%;
}

.registerTitle{
    background-color: #456d8a;
    color:#fefefe;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;

}

.actorType {
    text-align: center;
    align-content: center;
}

.actorType button{
    background-color: #456d8a; 
    color:#fefefe;
    width: 50% !important;
    margin: 10px;
}

.actorType #resetButton{
    background-color: #456d8a !important; 
    margin: 15px !important;
    margin-right: 10%;
}

.mybtnForm{
    background-color: #456d8a; 
    color:#fefefe;
    width: 70%;
    margin: 10px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em 0;
}
table thead th, table tfoot td {
background-color: lightgray;
border: 1px solid gray;
padding: 4px;
}
table td {
border: 1px solid gray;
padding: 2px 4px;
width: 80%
}
table input {
padding: 1px 2px;
}
table input[type=number] {
width: 80%;
}
  

