<div class="card">
  <div class="card-body">
    <h4 class="card-title">Oferta 1</h4>
    <p class="card-text">Se buscan empleados para blablablabla</p>
    <a href="#" class="card-link">Detalles de convocatoria</a>
    <a href="#" class="card-link">Perfil de empresa ofertante</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Oferta 1</h4>
    <p class="card-text">Se buscan empleados para blablablabla</p>
    <a href="#" class="card-link">Detalles de convocatoria</a>
    <a href="#" class="card-link">Perfil de empresa ofertante</a>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h4 class="card-title">Oferta 1</h4>
    <p class="card-text">Se buscan empleados para blablablabla</p>
    <a href="#" class="card-link">Detalles de convocatoria</a>
    <a href="#" class="card-link">Perfil de empresa ofertante</a>
  </div>
</div>